@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@media screen and (min-width: 500px) {
    header {
      background-color: black;
      color: white;
    }
  
    main {
      grid-template-columns: 1fr 1fr;
    }
  }